@model List<Category>

<div class="card shadow border-0 mt-4 rounded-2 ">

    <div class=" card-header bg-success bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Kategorier</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 mb-3">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Upsert" class="btn btn-success rounded">
                    <i class="bi bi-plus-circle"></i>
                    Ny Kategori
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-borded table-light table-striped ">
            <thead>
                <tr>
                    <th class="text-success-emphasis">
                        Namn
                    </th>
                
                </tr>
            </thead>
           
        </table>
    </div>
    
</div>
@section Scripts {
    <script src="~/js/category.js"></script>

}