@model int 
 
<div class="container row pt-4 ">
    <div class="col-12 text-center">
        <h3 class="text-primary text-center">Order skapad!</h3>
        Ditt ordernummer är : @Model <br /> <br />
        <img src="~/images/vitsippa.jpg" width="50%" style="border-radius:7%" />
    </div>
    <div class="col-12 text-center" style="color:mediumvioletred;">
        <br />
            Din order har skapats!
        <br />
    </div>
</div>