@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registera";
}
<div class="mb-5">
<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Koppla ditt @Model.ProviderDisplayName konto.</h2>
<hr />

<p id="external-login-description" class="text-primary">
    Du har autentifikerats med facebook. Ange email och adressuppgifter och klicka på Registreraknappen för att logga in

</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Epost."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control"  placeholder="Förnamn" />
                <label asp-for="Input.FirstName" class="form-label">Förnamn</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Efternamn" />
                <label asp-for="Input.LastName" class="form-label">Efternamn</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon" />
                <label asp-for="Input.PhoneNumber" class="form-label">Telefon</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" class="form-control" placeholder="Gatuadress" />
                <label asp-for="Input.StreetAddress" class="form-label">Gatuadress</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control"  placeholder="Postnummer" />
                <label asp-for="Input.PostalCode" class="form-label">Postnummer</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control"  placeholder="Ort" />
                <label asp-for="Input.City" class="form-label">Ort</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-success mb-4 rounded">Registera</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
