@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Tvåfaktorsautentiering (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Du har inga återställningskoder kvar.</strong>
                    <p>Du måste <a asp-page="./GenerateRecoveryCodes">generera nya återställningskoder</a> before you can log in with a recovery code.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Du har en återställningskod kvar.</strong>
                    <p>Du kan <a asp-page="./GenerateRecoveryCodes">generera nya återställingskoder</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Du har @Model.RecoveryCodesLeft återställningskoder kvar.</strong>
                    <p>Du bör <a asp-page="./GenerateRecoveryCodes">generera nya koder</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-success rounded">Glöm den här webläsaren</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Stäng av 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Återställ återställningskoder</a>
        }

        <h4>Autentifieringsapp</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Lägg till autentifieringsapp</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success rounded">Registrera autentifieringsapp</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-success rounded">Återställ autentifieringsapp</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Integritetspolicy and cookiepolicy har inte tillåtits.</strong>
            <p>Du måste godkänna integritetspolicy och cookiepolicy innan du kan anända tvåfaktorsautentfiering </p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
