@model List<SubCategory>

<div class="card shadow border-0 mt-4 mb-4">

    <div class=" card-header bg-success bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Underkategorier</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="SubCategory" asp-action="Upsert" class="btn btn-success rounded">
                    <i class="bi bi-plus-circle"></i>
                    Ny underkategori
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-borded  table-striped table-light">
            <thead>
                <tr>
                    <th class="text-success-emphasis">
                        Namn
                    </th>
                    <th class="text-success-emphasis">
                        Kategori
                    </th>
                    <th class="text-success-emphasis">
                       
                    </th>
                </tr>
            </thead>
         </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/subcategory.js"></script>

}