
<div class="container row pt-4 ">
    <div class="col-12 text-center">
        <h3 class="text-primary text-center">Välkommen till Sias Örtagård</h3>
   
        <img src="~/images/siasgarden.jpg" width="100%" style="border-radius:5%" />
    </div>
    <div class=" mb-5">
        <br />
       
        <br />
    </div>
</div>